*{
	box-sizing: border-box;
}

body{
	margin: 3vw;

	/*The image used*/
	background-image: url(../img/computer.jpg);

	/*Center and scale the image nicely*/
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}

h3{
	display: inline;
}

div{
	background-color: white;
	-webkit-column-break-inside: avoid;
}

ol{
	padding-left: 3vw;
}

header{
	margin-right: 20%;
	margin-left: 20%;
	margin-top: 5%;
	padding-bottom: 2%;
	border-radius: 1vw;
}

.icon{
	width: 5vw;
	height: 5vw;
}

.cc{
	display: inline;
	float: left;
	width: 25%;
}

#c4{
	display: inline;
	width: auto;
}

#icons-wrapper{
	text-align: center;
}

#name{
	padding-top: 1%;
	text-align: center;
	font-size: 5vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.div-wrapper{
	margin: 1vw;
	border-radius: 1vw;
	padding: 1vw;
	overflow: hidden;
}

.left-section{
	margin: 2vw;
	padding: 2vw;
	float:left;
	width:48%;
	border-style: solid;
	border-radius: 1vw;
	border-color: #27a9d8;
}

.right-section{
	overflow:hidden;
	text-align: center;
	margin: 2vw;
	padding: 2vw;
	width: auto;
	border-radius: 1vw;
	border-color: #000000;
	border-style: solid;
}

.section-text{
	font-size: 2vw;
	text-align: justify;
}

.section-icon{
	width: 100%;
}

.list-padding{
	padding: 2vw;
}

@media screen and (max-width: 800px) {
	.left-section{ 
		float: none;
		width:auto;
	}

	.right-section{
		float: none;
		width: auto;
	}

	#proj-text{
		font-size: 3vw;
	}

	ol{
		display: table;
		margin: 0 auto;
	}

	#summary-text{
		font-size: 3vw;
	}

	#proj-text{
		font-size: 3vw;
	}

	ul{
		display: table;
		margin:0 auto;
	}

	#education-text{
		font-size: 3vw;
	}

	h3{
		text-align: center;
	}
	.jobs{
		font-size: 2.5vw;
		text-align: center;
	}

}

.new-wrapper{
	float: left;
	border-style: solid;
	border-radius: 1vw;
	border-color: #000000;
}

#achievement-icon{
	padding: 1vw;
	float:left;
	width: 48%;
}

#achievement-text{
	padding-top: 5vw;
	width: 50%;
	overflow:hidden;
	font-size: 2.5vw;
	text-align: justify;
}

@media screen and (max-width: 600px){
	
	#achievement-icon{
		float: none;
		width: 100%;
	}

	#achievement-text{
		padding-top: 0vw;
		padding-right: 5vw;
		float: none;
		width: auto;
	}
}


#footer-section{
	margin-left: -3vw;
	margin-right: -3vw;
	margin-bottom: -2vw;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 3vw;
}

.heart{
	color:Tomato;
}